<div class="row">
    <div class="col-md-7">
        <h4>Autômatos Finitos Deterministicos</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="">Start State</label>
                    <input type="text" class="form-control" id="start-state" ng-model="startState">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="">Final States</label>
                    <input type="text" class="form-control" id="final-states" ng-model="finalStates">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label" for="">Final States</label>
                    <textarea rows="6" class="form-control" ng-model="delta"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
